*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.Main Header{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.menu-bar{
    margin: 0;
    padding: 20px;
    width: 10px;
}